<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BankApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("styles", required: false)
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .user-info {
            display: flex;
            align-items: center;
        }

        .logout-btn {
            padding: 5px 10px;
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px; /* Adicionando margem à esquerda */
        }
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div>
                <a href="/">Home</a>
                <a href="/Accounts">Contas</a>
                <a href="/Cards">Cartões</a>
                <a href="/Investments">Investimentos</a>
                <a href="/Contact">Contato</a>
            </div>
            <div class="user-info">
                @if (User.Identity.IsAuthenticated)
                {
                    @await Component.InvokeAsync("UserInfo")
                    <form method="post" asp-action="Logout" asp-controller="Account">
                        <button type="submit" class="logout-btn">Sair</button>
                    </form>
                }
                else
                {
                    <a class="btn btn-primary btn-lg" href="/Account/Register" role="button">Abra sua Conta</a>
                    <a class="btn btn-secondary btn-lg" href="/Account/Login" role="button">Login</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>&copy; 2024 - BankApp</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
